pytest>=6.2.5
markdown2
# slim (installation will show a permission error, but does work nevertheless - man link is not needed)
splunk-packaging-toolkit==1.0.1
semantic_version==2.6.0
splunk-appinspect
# black doesn't work with splunk-appinspect, so re-enable it manually if needed 
# black>=22.12.0