pytest>=6.2.5
markdown2
# slim (installation wants to create a man link - so /usr/share/man/man1/ needs to be writable by the current user)
splunk-packaging-toolkit==1.0.1
semantic_version==2.6.0
splunk-appinspect
# black doesn't work with splunk-appinspect, so re-enable it manually if needed 
# black>=22.12.0